
body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2 {
    margin: 40px auto;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.container {
    max-width: 1440px;
}

/* Header Logo Style */

.webstudio {
    margin: 0px 0px 0px 156px;
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
}

.logo {
    color:#4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

/* Navigation Section */

nav.menu {
    margin: 24px 0px 24px 0px;
}

.navigation {
    margin: 0px 0px 0px 0px;
    top: 0;
    position: absolute;
    padding: 0px 0px 10px 347px;
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    display: block;
    padding: 24px 40px 0px 0px;
}

.navigation-contact {
    width: 483px;
    margin: 0;
    padding:0%;
    position: absolute;
    top: 0;
    right:0;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.navigation-contact li {
    display: inline-block;
}

.navigation-contact li a {
    display: block;
    padding: 24px 40px 0px 0px;
}

.content-header {
    min-width: 1440px;
    min-height: 72px;
}
.menu .item {
    display: inline-flex;
    flex-direction: row;
}

.navigation-contact .item {
    display: inline-flex;
    justify-content: flex-end;
}

a:hover {
    text-decoration: none;
}


/* Hovered links */
.navigation :hover, :active {
    color: #4D5AE5;
    text-decoration: underline;
}

.navigation-contact :hover, :active {
    color: #404BBF;

}


/* Main Banner */

.main-banner {
    margin: 0;
    padding: 0;
    max-height: 600px;
    background-color: #2E2F42;
}


/* Header 1 */

h1.banner-text {
    padding: 188px 292px 48px 292px;
    margin: 0;
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    font-family: 'Roboto';
}


.button {
    font-family: roboto;
    font-size: 16px;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.button:hover {
    background-color: #404BBF;
}

.banner-button {
    margin: 0;
    padding: 16px 32px 188px 32px;
}


/* Section 1 */

.section-one {
    margin-top: 120px;
    padding: 0;
    box-sizing: border-box;
}

ul.section-one-items {
    padding: 0 156px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

/* Section 2*/

.section-two {
    margin-top: 120px;
    padding: 0;
    box-sizing: border-box;
}

ul.section-two-items {
    padding: 0 156px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

/* Section 3 */

.section-three {
    background-color: #F4F4FD;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2.our-team {
    margin-top: 120px;
    padding: 120px 0px 0px 0px;
}

ul.section-three-items {
    margin: 72px 0px 120px 0px;
    padding: 0 156px;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: row;
    gap: 32px;
}

li.team-member {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Portfolio Page */

.button-row {
    margin: 0px 427px;
    display: flex;
    padding: 12px 0%;
    align-items: flex-start;
    box-sizing: border-box;
}

.portfolio-button {
    margin: 0px 24px;
    padding: 12px 24px;
    border-radius: 4px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    gap: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    color:#4D5AE5;
    background: #F4F4FD;
}

.portfolio-button:hover {
    border-radius: 4px;
    color:#FFF;
    cursor: pointer;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


ul.row-one, .row-two, .row-three {
    margin: 0 156px;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    
}

li.portfolio-image {
    margin: 40px 8px;
    padding-bottom: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 362px;
    height: 474px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #E7E9FC;
    background: #FFF;
    gap: 32px;
    flex-shrink: 0;
}


.card-title {
    margin: 0;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    box-sizing: border-box;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.card-subtitle {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    box-sizing: border-box;
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}


/* Footer */


.footer {
    margin: 0;
    padding: 101px 999px 100px 156px;
    height: 312px;
    background-color: #2E2F42;
    color: #F4F4FD;
    box-sizing: border-box;

}

.webstudio-footer {
    margin: 0;
    color:#F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

p .footer-logo {
    margin: 0;
    padding: 0;
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-link {
    color:#FFFFFF;
}
