
body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42
}

h2 {
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

ul {
    list-style: none;
    padding: 0%;
}
/* Header Logo Style */

.webstudio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
}
.logo {
    color:#4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
}

a {
    text-decoration: none;
    color: #2E2F42;
}

/* Navigation Section */

.navigation {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.navigation-contact {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Hovered links */
.navigation :hover, :active {
    color: #4D5AE5;
    text-decoration: underline;
}

.navigation-contact :hover, :active {
    color: #404BBF;

}

/* Main Banner */

.main-banner {
    background-color: #2E2F42;
}

/* Header 1 */

h1 {
    margin: 0px 472px 0px 472px;
    text-align: center;
    font-family: Roboto;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    width: 618px;
    text-transform: uppercase;
}

.button {
    font-family: roboto;
    font-size: 16px;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.button:hover {
    background-color: #404BBF;
}


/* Footer */

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.webstudio-footer {
    color:#F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

p .footer-logo {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-link {
    color:#FFFFFF;
}